@model Project2WooxTravel2.Entities.Destination

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@*<style>
        .about-main-content {
            background-image: url('@ViewBag.DestinationImageUrl');
        }
    </style>*@

@Html.Action("PartialHead", "Default")

<body>
    @Html.Action("PartialNavbar", "Default")
    <!-- ***** Header Area End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <div class="about-main-content" style="background-image: url('@ViewBag.DestinationImageUrl')">
        @***************************@
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content">
                        <div class="blur-bg" style="background-image: url('@ViewBag.DestinationImageUrl');"></div>
                        <h4>Keşfedilecek Rota: @ViewBag.DestinationCountry</h4>
                        <div class="line-dec"></div>
                        <h2>@ViewBag.DestinationTitle</h2>
                        <p>@ViewBag.DestinationDescription</p>
                        <p><i class="fas fa-check"></i>@ViewBag.DestinationDayNight Gün - @(ViewBag.DestinationDayNight-1) Gece</p>
                        <p><i class="fas fa-check"></i>@ViewBag.DestinationCapacity Kişi</p>
                        <p><i class="fas fa-check"></i>@ViewBag.DestinationPrice TL</p>
                        <div class="main-button">
                            <a href="/Default/PartialPopUpReservation/">Rezervasyon Yap</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    @Html.Action("TourPhotos", "About")

    <div>
        @Html.Action("TourDeals", "About")
    </div>
    <div class="more-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="left-image">
                        <img src="/wooxtravel-1.0.0/assets/images/about-left-image.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Ülke Hakkında Daha Fazla Bilgi</h2>
                        <p>Karadağ'ın yıllık turizm istatistiklerine göre Karadağ'da 2017'den 2023 yılına kadar, turist konaklamaları yıllık %32 artışla 16,4 milyona ulaşmış durumda. İstatistiklere göre Rusya 3.7M ve Sırbistan 3.4M yabancı ziyaretçi ile ilk sıralarda yer almaktadır.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="info-item">
                                <h4>150.640 +</h4>
                                <span>Yıllık Ziyaretçi Ortalaması</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="info-item">
                                <h4>175.000+</h4>
                                <span>Konaklama İmkanı</span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="info-item">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h4>12.560+</h4>
                                        <span>Ziyaret Edilmesi Gereken Yerler</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <h4>
                                            <i class="fas fa-star" style="color: gold;"></i>
                                            <i class="fas fa-star" style="color: gold;"></i>
                                            <i class="fas fa-star" style="color: gold;"></i>
                                            <i class="fas fa-star" style="color: gold;"></i>
                                            <i class="fas fa-star-half-alt" style="color: gold;"></i>
                                            (4.8/5)
                                        </h4>
                                        <span>Memnuniyet</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-button">
                        <a href="https://www.benoitproperties.com/news/montenegro-foreign-visitors-up-over-50-in-2023/">Daha Fazla</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @Html.Action("PartialFooter", "Default")


    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="/wooxtravel-1.0.0/vendor/jquery/jquery.min.js"></script>
    <script src="/wooxtravel-1.0.0/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="/wooxtravel-1.0.0/assets/js/isotope.min.js"></script>
    <script src="/wooxtravel-1.0.0/assets/js/owl-carousel.js"></script>
    <script src="/wooxtravel-1.0.0/assets/js/wow.js"></script>
    <script src="/wooxtravel-1.0.0/assets/js/tabs.js"></script>
    <script src="/wooxtravel-1.0.0/assets/js/popup.js"></script>
    <script src="/wooxtravel-1.0.0/assets/js/custom.js"></script>

    <script>
        $(".option").click(function () {
            $(".option").removeClass("active");
            $(this).addClass("active");
        });</script>

</body>

</html>
